@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

$play-font: "Play", sans-serif;

.contactform {
  font-family: $play-font;
  background-color: #efb578;
  max-width: 600px;
  border-radius: 5px;
  padding: 25px;

  label {
    color: white;
  }

  input {
    font-size: .8em;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s;
    transition-property: color, background-color;
  }

  input[type="submit"]:hover {
    color: white;
    background-color: #c4c4c4;

    
  }
}
