@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

$jura-font: 'Jura', sans-serif;

.header {
    font-family: $jura-font;
    padding: 1rem 0 3rem;
}

.title {
    color: black;
    font-family: $jura-font;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
}

.nav-item {
    color: #999999;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #666666;
}

.active-nav-item {
    color: #333333;
}